* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-main-family: "Poppins", sans-serif;

  --color-primary: #060f1bf8;
  --color-secondary: #0034c2;
  --color-primary-text: #ffffff;
  --color-secondary-text: #bebebe;
  --color-enfasis: #00cfff;
  --fs-xl: 4.5rem;
  --fs-lg: 3.5rem;
  --fs-md: 2rem;
  --fs-sm: 1.25rem;
  --fs-base: 1rem;

  --max-width-default: 1240px;
  --border-std: 16px;

  --std-transition: 0.3s all ease-in-out;

  --std-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  --bg-blur-header-element: rgba(6, 15, 27, 0.4);
  --bg-blur-element: rgba(18, 73, 85, 0.2);

  --backdrop-filter-element: blur(12px);
  --webkit-bd-filter-element: blur(12px);
}
a {
  text-decoration: none;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 5rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: var(--fs-lg);
}
h3 {
  font-size: var(--fs-md);
}
h4 {
  font-size: var(--fs-sm);
  font-weight: 400;
}
p {
  font-size: var(--fs-base);
}

body {
  font-family: var(--font-main-family);
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
  overflow-x: hidden;
}

header {
  position: fixed;
  z-index: 10;
  top: 1rem;
  width: 90%;
  left: 50%;
  max-width: var(--max-width-default);
  padding: 0.5rem 1rem;
  background-color: var(--bg-blur-header-element);
  backdrop-filter: var(--backdrop-filter-element);
  -webkit-backdrop-filter: var(--webkit-bd-filter-element);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-std);
  transform: translateX(-50%);
}

.logo-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.btn-responsive {
  display: none;
}

.text-logo {
  font-size: 12px;
  line-height: 1.2rem;
  color: var(--color-enfasis);
  font-weight: 500;
}

.text-logo span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary-text);
}
nav {
  margin-left: auto;
  margin-right: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;

  gap: 2rem;
}

nav ul li {
  transition: var(--std-transition);
}

nav ul li a {
  text-decoration: none;
  color: var(--color-primary-text);
  font-weight: 500;
  font-size: 0.9rem;
  text-shadow: var(--std-text-shadow);
}

.fa-square-github {
  color: var(--color-primary-text);
}

nav ul li:hover {
  transform: scale(1.15);
}

.main-layout {
  max-width: var(--max-width-default);
  margin: 0 auto;
}

.bg-layout,
.bg-layout::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-secondary);
  filter: blur(120px);
}

.bg-layout {
  position: fixed;
  inset: 0;
  pointer-events: none;
  width: 240px;
  height: 240px;
  left: 4rem;
  top: 2rem;
  z-index: -1;
}

.bg-layout::before {
  width: 420px;
  height: 420px;
  left: 12rem;
  top: 12rem;
}

.main-hero {
  position: relative;
  height: 85vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  display: flex;

  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-text);
}

.hero-text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img-hero-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hero-section img {
  width: 70%;
}

.main-hero-span {
  color: var(--color-enfasis);
}

.hero-content h1 {
  text-align: left;

  text-wrap: balance;
  color: var(--color-primary-text);
}

.hero-content h1 span {
  color: var(--color-enfasis);
}

.hero-content p {
  text-align: left;
  text-wrap: balance;
  margin-top: 2rem;
  font-size: 1.125rem;
}

.group-btn {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.btn {
  border-radius: 100px;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  backdrop-filter: var(--backdrop-filter-element);
  -webkit-backdrop-filter: var(--webkit-bd-filter-element);
}

.info-btn {
  color: var(--color-primary-text);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-blur-element);
  border: 1px solid var(--color-secondary-text);
  align-items: center;
  position: relative;
  transition: var(--std-transition);
}

.info-btn::after {
  content: "›";

  background-color: var(--color-enfasis);
  font-size: 1.5rem;
  opacity: 0;
  transition: var(--std-transition);
  color: var(--color-primary);
}

.info-btn:hover::after {
  opacity: 1;
  padding: 0 1rem;
  border-radius: 50px;
  margin-left: 0.75rem;
  transform: translateX(0);
}

.info-btn:hover {
  letter-spacing: 0.5px;
}

.std-btn {
  color: var(--color-primary);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: #00cfff;
  align-items: center;
  position: relative;
  transition: var(--std-transition);
}

.std-btn::after {
  content: "›";
  background-color: var(--color-primary);
  font-size: 1.5rem;
  opacity: 0;
  transition: var(--std-transition);
  color: var(--color-enfasis);
}

.std-btn:hover::after {
  opacity: 1;
  padding: 0 1rem;
  border-radius: 50px;
  margin-left: 0.75rem;
  transform: translateX(0);
}

.std-btn:hover {
  letter-spacing: 0.5px;
}

.blog-section {
  position: relative;
}

.blog-section-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 4rem 0;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-element {
  width: fit-content;
  background-color: rgba(0, 207, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 0.5rem 0.75rem;
  border-radius: 100px;
  font-size: 0.85rem;
  color: var(--color-primary-text);
}

.titles-section {
  font-size: var(--fs-lg);
  line-height: var(--fs-xl);
  font-weight: 400;
  color: var(--color-primary-text);
  margin-top: 1rem;
}

.description-text-section {
  color: var(--color-primary-text);
  text-wrap: balance;
  width: 80%;
  font-size: var(--fs-sm);
}

.blog-section-content h2 {
  text-align: center;
  text-shadow: var(--std-text-shadow);
}

.blog-section-content p {
  text-align: center;
}

.blog-grid-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "blog-post blog-post blog-page-link"
    "blog-post blog-post blog-services-link";
  gap: 2rem;
}

.blog-grid-section h3 {
  color: var(--color-primary-text);
  font-size: var(--fs-md);
  font-weight: 400;
}

.blog-grid-section p {
  color: var(--color-primary-text);
  text-align: left;
}

.blog-grid-element {
  width: 100%;
  background-color: var(--bg-blur-element);
  backdrop-filter: var(--backdrop-filter-element);
  -webkit-backdrop-filter: var(--webkit-bd-filter-element);
  padding: 2rem;
  border-radius: var(--border-std);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-post {
  grid-area: blog-post;
  transition: var(--std-transition);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-post img {
  width: 100%;
  border-radius: var(--border-std);
  height: 340px;
}

.blog-page-link {
  grid-area: blog-page-link;
}

.blog-page-link h2 {
  text-align: left;
  font-weight: 400;
  color: var(--color-primary-text);
}

.blog-services-link {
  grid-area: blog-services-link;
}

.service-section {
  padding: 4rem 0;
}

.service-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.service-section-content h2 {
  text-align: center;
}

.service-section-content p {
  text-align: center;
}

.plans-section-grid {
  width: 80%;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  grid-template-areas: "plan-1 plan-2 plan-3";
}

.plan-1 {
  grid-area: plan-1;
}

.plan-2 {
  grid-area: plan-2;
}
.plan-3 {
  grid-area: plan-3;
}

.plans-elements {
  width: 100%;
  background-color: var(--bg-blur-element);
  border-radius: var(--border-std);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--std-transition);
  overflow: hidden;
  position: relative;
}
.flex-element-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.plans-elements h4 {
  text-align: left;
  color: var(--color-primary-text);
  font-weight: 500;
  font-size: 1.35rem;
  text-shadow: var(--std-text-shadow);
}

.plans-elements p {
  text-align: left;
  color: var(--color-secondary-text);
  text-wrap: balance;
}

.recommeded-badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 12px;
  background-color: var(--color-enfasis);
  font-weight: 500;
}

.price-plans {
  color: var(--color-primary-text);
  font-weight: 600;
}

.price-plans span {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-secondary-text);
}

.items-plans {
  list-style: disc;
  padding: 0 1.25rem;
  margin-top: 1rem;
  color: var(--color-secondary-text);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-btn {
  margin-top: 1.2rem;
  transition: var(--std-transition);
  background-color: var(--bg-blur-element);
  text-align: center;
  color: var(--color-secondary-text);
}

.plans-elements:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.plans-elements:hover .price-btn {
  background-color: rgba(0, 207, 255, 0.95);
  color: var(--color-primary);
  font-weight: 500;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
}

.about-text-elements {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.flex-about-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.about-item {
  background-color: var(--bg-blur-element);
  padding: 1rem;
  border-radius: var(--border-std);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-item h4 {
  font-size: var(--fs-md);
  color: var(--color-primary-text);
  font-weight: 600;
  text-shadow: var(--std-text-shadow);
}

.about-item p {
  color: var(--color-secondary-text);
}

.review-section {
  background-color: var(--bg-blur-element);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-std);
  gap: 1rem;
}

.review-section h6 {
  color: var(--color-primary-text);
  font-size: var(--fs-sm);
  font-weight: 500;
  text-align: center;
}

.review-section p {
  width: 80%;
  color: var(--color-secondary-text);
  text-align: center;
  text-wrap: balance;
}

.form-section,
.contact-text-elements {
  flex: 1 1 0;
}

.form-section {
  background-color: var(--bg-blur-element);
  padding: 2rem;
  color: var(--color-primary);
  border-radius: var(--border-std);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-primary-text);
}
label {
  font-size: 14px;
}

.form-section input {
  width: 100%;
  border-radius: var(--border-std);
  padding: 14px;
  border: none;
  background-color: var(--bg-blur-header-element);
  color: var(--color-primary-text);
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.message-form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  width: 100%;
  border-radius: var(--border-std);
  padding: 14px;
  border: none;
  background-color: var(--bg-blur-header-element);
  color: var(--color-primary-text);
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-main-family);
  color: var(--color-secondary-text);
}

input:focus,
textarea:focus {
  border: none;
  outline: 1px solid var(--color-enfasis);
}

button {
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-main-family);
}

button:hover {
  background-color: var(--color-enfasis);
  color: var(--color-primary);
}

.flex-contact-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.contact-section {
  width: 100%;
}

.contact-section-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;
}

.contact-text-elements {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-details a {
  padding: 1rem;
  background-color: var(--bg-blur-element);
  border-radius: var(--border-std);
  color: var(--color-primary-text);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: var(--std-transition);
}

.contact-details a:hover {
  transform: translateY(-10px);
}

.contact-details a img {
  border: 1px solid var(--color-secondary-text);
  border-radius: 12px;
  padding: 8px;
}

.contact-details a p {
  color: var(--color-secondary-text);
  font-size: 14px;
}
.footer-section {
  margin-bottom: 1rem;
}

.footer-section-content {
  max-width: var(--max-width-default);
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: #00000080;
  border-radius: var(--border-std);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-text);
}

.footer-section-content p {
  text-align: center;
}

.footer-section-content p a {
  color: var(--color-enfasis);
}

.text-footer-logo {
  color: var(--color-primary-text);
  text-align: center;
}
.header-mobile {
  display: none;
}

@media (max-width: 768px) {
  .header-mobile {
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 12;
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
  }

  .header-mobile.open {
    transform: translateX(0);
    pointer-events: auto;
  }
}

@media (max-width: 1024px) {
  .main-layout {
    padding: 0 1rem;
  }

  .hero-text-section,
  .img-hero-section {
    width: 50%;
  }

  .plans-section-grid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "plan-1"
      "plan-2"
      "plan-3";
  }

  .about-text-elements {
    width: 100%;
  }

  .description-text-section {
    width: 100%;
  }
  .footer-section {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .cierre-menu {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.5rem;
    color: var(--color-primary-text);
    border: 1px solid var(--color-secondary-text);
    border-radius: var(--border-std);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-blur-header-element);
  }

  .header-mobile nav {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-mobile ul {
    /* display: none; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .header-mobile ul li a {
    font-size: var(--fs-sm);
    text-shadow: var(--std-text-shadow);
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .blog-grid-section h3 {
    font-size: 1.75rem;
  }

  .titles-section {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  header {
    width: calc(100% - 2rem);
    padding: 0.75rem 1rem;
  }

  nav,
  .icons {
    display: none;
  }

  .btn-responsive {
    display: flex;
    border: 1px solid var(--color-secondary-text);
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-blur-element);
    border-radius: var(--border-std);
  }

  .main-layout {
    padding: 0 1rem;
  }

  .main-hero {
    height: 80vh;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .hero-content {
    flex-direction: column;
    height: auto;
    gap: 1rem;
    flex-direction: column;
  }

  .hero-text-section {
    width: 100%;
    text-align: center;
  }

  .hero-text-section h1,
  .hero-text-section p {
    text-align: center;
  }

  .group-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-hero-section {
    display: none;
  }

  .blog-grid-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "blog-post"
      "blog-page-link"
      "blog-services-link";
  }

  .blog-post img {
    height: 200px;
  }

  .plans-section-grid {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "plan-1"
      "plan-2"
      "plan-3";
  }

  .flex-about-section {
    flex-direction: column;
  }

  .about-text-elements {
    width: 100%;
  }

  .about-items-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .description-text-section {
    width: 100%;
  }

  .flex-contact-section {
    flex-direction: column;
    gap: 1rem;
  }

  .contact-section-content {
    gap: 2rem;
    padding: 2rem 0;
  }

  .blog-section-content,
  .service-section-content,
  .about-section-content {
    padding: 2rem 0;
    gap: 1rem;
  }
  .form-section {
    padding: 1rem;
  }

  .review-section p {
    width: 95%;
  }
}
