* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-main-family: "Poppins", sans-serif;

  --color-primary: #060f1bf8;
  --color-secondary: #0034c2;
  --color-primary-text: #ffffff;
  --color-enfasis: #00cfff;
  --test-color: red;

  --fs-xl: 4.5rem;
  --fs-lg: 3.5rem;
  --fs-md: 2rem;
  --fs-sm: 1.25rem;
  --fs-base: 1rem;

  --max-width-default: 1240px;
  --border-radius-capsule-btn: 100px;
  --border-std: 16px;

  --std-transition: 0.3s all ease-in-out;

  --std-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  --bg-blur-header-element: rgba(6, 15, 27, 0.4);
  --bg-blur-element: rgba(18, 73, 85, 0.2);

  --backdrop-filter-element: blur(12px);
  --webkit-bd-filter-element: blur(12px);
}
a {
  text-decoration: none;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 5rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h2 {
  font-size: var(--fs-lg);
}
h3 {
  font-size: var(--fs-md);
}
h4 {
  font-size: var(--fs-sm);
  font-weight: 400;
}
p {
  font-size: var(--fs-base);
}

body {
  font-family: var(--font-main-family);
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
}

header {
  position: fixed;
  z-index: 10;
  top: 1rem;
  width: 90%;
  left: 50%;
  max-width: var(--max-width-default);
  padding: 0.5rem 1rem;
  background-color: var(--bg-blur-header-element);
  backdrop-filter: var(--backdrop-filter-element);
  -webkit-backdrop-filter: var(--webkit-bd-filter-element);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-std);
  transform: translateX(-50%);
}

.logo-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

.btn-responsive {
  display: none;
}

.text-logo {
  font-size: 12px;
  line-height: 1.2rem;
  color: var(--color-enfasis);
  font-weight: 500;
}

.text-logo span {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary-text);
}
nav {
  margin-left: auto;
  margin-right: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;

  gap: 2rem;
}

nav ul li {
  transition: var(--std-transition);
}

nav ul li a {
  text-decoration: none;
  color: var(--color-primary-text);
  font-weight: 500;
  font-size: 0.9rem;
  text-shadow: var(--std-text-shadow);
}

.fa-square-github {
  color: var(--color-primary-text);
}

nav ul li:hover {
  transform: scale(1.15);
  /* transition: 0.5s; */
}

.main-layout {
  max-width: var(--max-width-default);
  margin: 0 auto;
}

.bg-layout,
.bg-layout::before,
.bg-layout::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-secondary);
  filter: blur(120px);
}

.bg-layout {
  position: fixed;
  inset: 0;
  pointer-events: none;
  width: 240px;
  height: 240px;
  left: 4rem;
  top: 2rem;
  z-index: -1;
}

.bg-layout::before {
  width: 420px;
  height: 420px;
  left: 12rem;
  top: 12rem;
}

.main-hero {
  position: relative;
  height: 85vh;
  padding-top: 100px;
}

.hero-content {
  position: relative;
  height: 80vh;
  display: flex;

  gap: 2rem;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-text);
}

.hero-content img {
  width: 160px;
}

.hero-text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.img-hero-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hero-section img {
  width: 70%;
}

.main-hero-span {
  color: var(--color-enfasis);
}

.hero-content h1 {
  text-align: left;

  text-wrap: balance;
  color: var(--color-primary-text);
}

.hero-content h1 span {
  color: var(--color-enfasis);
}

.hero-content p {
  text-align: left;
  text-wrap: balance;
  margin-top: 2rem;
  font-size: 1.125rem;
}

.group-btn {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.btn {
  border-radius: 100px;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;

  text-decoration: none;

  backdrop-filter: var(--backdrop-filter-element);
  -webkit-backdrop-filter: var(--webkit-bd-filter-element);
}

.info-btn {
  color: var(--color-primary-text);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-blur-element);
  /* background-color: rgba(255, 255, 255, 0.9); */
  border: 1px solid #ffffff;
  align-items: center;
  position: relative;
  transition: var(--std-transition);
}

.info-btn::after {
  content: "›";

  background-color: var(--color-enfasis);
  font-size: 1.5rem;
  opacity: 0;
  transition: var(--std-transition);
  color: var(--color-primary);
}

.info-btn:hover::after {
  opacity: 1;
  padding: 0 1rem;
  border-radius: 50px;
  margin-left: 0.75rem;
  transform: translateX(0);
}

.info-btn:hover {
  letter-spacing: 0.5px;
}

.std-btn {
  color: var(--color-primary);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  background-color: #00cfff;
  align-items: center;
  position: relative;
  transition: var(--std-transition);
}

.std-btn::after {
  content: "›";
  background-color: var(--color-primary);
  font-size: 1.5rem;
  opacity: 0;
  transition: var(--std-transition);
  color: var(--color-enfasis);
}

.std-btn:hover::after {
  opacity: 1;
  padding: 0 1rem;
  border-radius: 50px;
  margin-left: 0.75rem;
  transform: translateX(0);
}

.std-btn:hover {
  letter-spacing: 0.5px;
}

.blog-section {
  position: relative;
}

.blog-section-content {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 4rem 0;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge-element {
  background-color: rgba(0, 207, 255, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  padding: 0.5rem;
  border-radius: 100px;
  font-size: 0.85rem;
  color: var(--color-primary-text);
}

.titles-section {
  font-size: var(--fs-lg);
  line-height: var(--fs-xl);
  font-weight: 400;
  color: var(--color-primary-text);
  margin-top: 1rem;
}

.description-text-section {
  color: var(--color-primary-text);
  text-wrap: balance;
  width: 80%;
  font-size: var(--fs-sm);
}

.blog-section-content h2 {
  text-align: center;
  text-shadow: var(--std-text-shadow);
}

.blog-section-content p {
  text-align: center;
}

.blog-grid-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "blog-post blog-post blog-page-link"
    "blog-post blog-post blog-services-link";
  gap: 2rem;
}

.blog-grid-section h3 {
  color: var(--color-primary-text);
  font-size: var(--fs-md);
  font-weight: 400;
}

.blog-grid-section p {
  color: var(--color-primary-text);
  text-align: left;
  /* text-wrap: balance; */
}

.blog-grid-element {
  width: 100%;
  background-color: var(--bg-blur-element);
  backdrop-filter: var(--backdrop-filter-element);
  -webkit-backdrop-filter: var(--webkit-bd-filter-element);
  padding: 2rem;
  border-radius: var(--border-std);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-post {
  grid-area: blog-post;
  transition: var(--std-transition);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-post img {
  width: 100%;
  border-radius: var(--border-std);
  height: 340px;
}

.blog-page-link {
  grid-area: blog-page-link;
}

.blog-page-link h2 {
  text-align: left;
  font-weight: 400;
  color: var(--color-primary-text);
}

.blog-services-link {
  grid-area: blog-services-link;
}

.service-section {
  padding: 4rem 0;
}

.service-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.service-section-content h2 {
  text-align: center;
}

.service-section-content p {
  text-align: center;
}

.plans-section-grid {
  width: 80%;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: auto;
  grid-template-areas: "plan-1 plan-2 plan-3";
}

.plan-1 {
  grid-area: plan-1;
}

.plan-2 {
  grid-area: plan-2;
  /* transform: translateY(-2rem); */
}
.plan-3 {
  grid-area: plan-3;
}

.plans-elements {
  width: 100%;
  background-color: var(--bg-blur-element);
  border-radius: var(--border-std);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--std-transition);
  overflow: hidden;
  position: relative;
}
.flex-element-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.plans-elements h4 {
  text-align: left;
  color: var(--color-primary-text);
  font-weight: 500;
  font-size: 1.35rem;
  text-shadow: var(--std-text-shadow);
}

.plans-elements p {
  text-align: left;
  color: #bebebe;
  text-wrap: balance;
}

.recommeded-badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  font-size: 12px;
  background-color: var(--color-enfasis);
  font-weight: 500;
}

.price-plans {
  color: var(--color-primary-text);
  font-weight: 600;
}

.price-plans span {
  font-size: 12px;
  font-weight: 400;
  color: #bebebe;
}

.items-plans {
  list-style: disc;
  padding: 0 1.25rem;
  margin-top: 1rem;
  color: #bebebe;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.price-btn {
  margin-top: 1.2rem;
  transition: var(--std-transition);
  background-color: var(--bg-blur-element);
  text-align: center;
  color: #bebebe;
}

.plans-elements:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.plans-elements:hover .price-btn {
  /* background-color: rgb(0, 207, 255); */
  background-color: rgba(0, 207, 255, 0.95);
  color: var(--color-primary);
  font-weight: 500;
}
